.Navbar{
    background-color:rgb(255, 255, 255); 
    padding:0px 1rem 0px 1rem ;
    border-radius: 10px;
    width: 100%;
}
.logo-container{
    display: flex;
    justify-content: left;
    align-items: center;
}

.icon-outerNav{
    width: 60px;
    height: 60px;
}

.navbar-logo{
    color: rgb(128, 128, 128);
    font-weight: bold;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    letter-spacing: 2px;
    margin-top: 8px;
}

.span1{
    color: rgb(136,138,255);
}

.search-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
}

.button-search{
    position: absolute;
    border: none;
    border-radius: 10px;
    background: none;
    padding-top: 5px;
}

.icon-search{
    font-size: 10px;
    color: rgb(136,138,255);
}

.icon-search:hover{
    /* font-size: 10px; */
    color: rgb(136,138,255);
    background: none;
}

.input-search{
    padding: 7px 30px ;
    height: 40px;
    width: 500px;
    border: 2px solid rgb(128, 128, 128);
    color: rgb(136,138,255);
    border-radius: 10px;
}

.buttons-container{
    display: flex;
    justify-content: right;
    align-items: center;
}

.button-navbar-teacher{
    background: none;
    border: none;
    margin-right: 1rem;
}

.icon-nav{
    color: rgb(136,138,255);
    font-size: 30px !important;
}

.points{
    color: rgb(136,138,255);
    margin-top: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.user-avatar{
    background-color: rgb(136,138,255) !important;
    /* margin-left: 3rem; */
}

.logout_button{
    background: none;
    border: none;
    color:rgb(136,138,255) ;
    text-decoration: none;
}