.NavbarSt{
  background-color:rgb(255, 255, 255); 
  padding:0px 1rem 0px 1rem ;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.15);

}
.logo-containerSt{
  display: flex;
  justify-content: left;
  align-items: center;
}
.icon-outerNavSt{
  width: 60px;
  height: 60px;
}
.navbar-logoSt{
  color: rgb(128, 128, 128);
  font-weight: bold;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 10px;
  letter-spacing: 2px;
  margin-top: 8px;
}

.span1St{
  color: #1F4E79;
}

.search-containerSt{
  display: flex;
  justify-content: center;
  margin: 0.5rem 0px;
}

.buttons-containerSt{
  display: flex;
  justify-content: right;
  align-items: center;
}

.button-navbarSt{
  background: none;
  border: none;
  margin-right: 1rem;
}

.icon-navSt{
  color: #1F4E79;
  font-size: 30px !important;
}

.pointsSt{
  color: #1F4E79;
  margin-top: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.user-avatarSt{
  background-color: #1F4E79 !important;
  /* margin-left: 3rem; */
}

.logout_buttonSt{
  background: none;
  border: none;
  color:#1F4E79 ;
  text-decoration: none;
}


.outer-search-container{
    z-index: 3;
    background-image: url('../wallpaper3-100.jpg'); 
    background-size: cover;
    background-position: left center; 
    background-repeat: no-repeat;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px); 
    background: rgba(255, 255, 255, 0.2); 
    width: 25rem;
    display: flex;
    overflow: hidden;
    border-radius: 20px;
}

.button-search{
    position: absolute;
    border: none;
    border-radius: 10px;
    background: none;
    padding-top: 2px;
}

.input-search{
    padding: 3px 30px ;
    width: 100%;
    border: 2px solid rgb(128, 128, 128);
    color: #1F4E79;
    border-radius: 10px;
    border: none;
}

 .top_par_search_container{
    background-color: #1F4E79 !important;
 }

  .search_page_button{
    color: #1F4E79 !important;
    border: 2px solid #1F4E79 !important;
    border-radius: 10px !important;
    padding: 0.5rem 2rem !important;
  }

  .input-search:focus  {
    outline: none;
}
  .icon_search{
    margin-left: 0.5rem !important;
    color: #1F4E79 !important;
  }

  .lable-create-course{
    display: block;
    font-size: 16px;
    font-weight: 600;
    font-family: cursive ;
    margin-bottom: 5px;
    color:rgb(53, 48, 48);
  }


  .input-create-course{
    color: rgb(53, 48, 48);
    font-size: 14px;
    width:100%;
    border: 2px solid #d9d9d9 ;
    background-color:#fff;
    border-radius: 10px;
    padding: 9px;
    display: flex ;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }
  .input-create-course:hover {
      border-color: #1F4E79;
    }
  
    .input-create-course:focus {
      border-color: #1F4E79;
      box-shadow: 0 0 0 2px rgb(24 144 255 / 0.2);
      outline: none;
    }

    .search_fillter_container{
        height: 88vh;
        
    }


    .search_courses_h2{
        font-size: 23px;
        color: #1F4E79;
        font-style: italic;
        margin-top: 1rem;
    }


    .container_empty_search{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .empty_search_icon{
        font-size: 20rem !important;
        /* color: #a8a8ff; */
    }